<div class="show-reply visible" id="reply-form-<%= post.id %>">
  <div class="reply-form">
    <%= simple_form_for([ event, post, reply ], remote: true) do |f| %>
      <%= f.input :content, label: "Reply to this post!" %>
      <%= f.submit "Reply!", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
