// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900");
// Define fonts for body and headers

@font-face {
  font-family: "Bebas Neue Regular";
  src:url(asset_path("BebasNeue-Regular.otf")) format("truetype");
};

@font-face {
  font-family: "Lemon Milk bold";
  src:url(asset_path("LemonMilkbold.otf")) format("truetype");
};

@font-face {
  font-family: "Lemon Milk light";
  src:url(asset_path("LemonMilklight.otf")) format("truetype");
};

@font-face {
  font-family: "Modern Sans Light";
  src:url(asset_path("Modern_Sans_Light.otf")) format("truetype");
};

@font-face {
  font-family: "Geosans Light";
  src:url(asset_path("GeosansLight-Oblique.ttf")) format("truetype");
};

@font-face {
  font-family: "Gravity Light";
  src:url(asset_path("Gravity-Book.otf")) format("truetype");
};



$body-font: "Gravity Light", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
