.fas {
  padding: 10px;
}

.fab {
  padding: 10px;
}

.dashboard-top {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.white-background {
  background-color: white;
}

.user-picture {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user-summary {
  padding: 20px
}

.event-summary h3 {
  font-size: 26px;
}

.user-event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
  background-color: #F4F4F4;
}

.events-tabs{
  display: flex;
  padding: 10px 10px 0 10px;
  background: #F4F4F4;
}

.event-tabs a {
  color: white;
}

.events-tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.events-tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}

.events-tab {
  background: #F4F4F4;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
}

.events-tab:first-child {
  border-radius: 10px 0 0 0;
}
.events-tab:last-child {
  border-radius: 0 10px 0 0;
}

.events-tab.active {
  background: #05A8AA;
  color: white;
}

.event-details {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.event-summary {
  flex: 0 0 50%;
}

.event-description {
  flex: 0 0 50%;
  padding: 10px;
  font-size: 15px;
  color: rgba(0,0,0,0.7);
}

.event-summary {
  text-align: center;
}

.event-cover {
  width: 100%;
  height: 220px;
  object-fit: cover;
  background-position: center;
}

.center-title {
  text-align: center;
}
