.fas {
  padding: 10px;
}

.fab {
  padding: 10px;
}

.dashboard-top {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.white-background {
  background-color: white;
}

.user-picture {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user-summary {
  padding: 20px
}

.event-summary h3 {
  font-size: 26px;
  color: #595959;
}

.user-event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
  background-color: #F4F4F4;
  height: 280px;
}



.event-details {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 50%;
  color: #595959;
}

.event-summary {
  flex: 0 0 50%;
}

.event-description {
  flex: 0 0 50%;
  padding: 10px;
  font-size: 15px;
  color: #595959;
}

.event-summary {
  text-align: center;
  a {
    text-decoration: none !important;
    color: #595959;
    &:hover {
      text-decoration: none !important;
      color: black;
    }
  }
}

.event-picture {
  width: 100%;
  height: 100%;
}

.event-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.center-title {
  text-align: center;
  color: #595959;
}

.simple-form-field {
  font-size: 14px;
}

.check_boxes_custom {
  content: "\f004";
}

.update-participation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heart-selector {
  input[type=checkbox] ~ label {
    color: black;
    &::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f004";
      padding: 10px;
    }
  }
  input[type=checkbox]:checked ~ label {
    color: red;
  }
}

.heart-selector:hover {
  cursor: pointer;
  opacity: 0.7;
}

#profile {
  height: 100vh;
}
