<div class="container">
  <h1>Your Dashboard</h1>
  <div class="col-xs-12 col-md-3">
     <%= cl_image_tag @user.photo, class: "avatar-profile" %>
     <div class="btn">Change profile picture</div>
  </div>
  <div class="col-xs-12 col-md-3">

  </div>

</div>
