

<% @title="Your Dashboard" %>
<div class="white-background">

  <ul class="events-tabs" role="tablist">
    <li role="presentation" class="events-tab active">
      <a href="#upcoming" data-toggle="tab" id="upcoming-tab">
        <h3>UPCOMING EVENTS</h3>
      </a>
    </li>
    <li role="presentation" class="events-tab">
      <a  href="#past" data-toggle="tab">
      <h3>PAST EVENTS</h3>
     </a>
    </li>
    <li role="presentation" class="events-tab">
      <a href="#userprofile" data-toggle="tab">
      <h3>PROFILE</h3>
      </a>
    </li>
  </ul>

  <%= render 'upcoming', user: @user %>
  <%= render 'past', user: @user %>
  <%= render 'profile', user: @user %>
</div>

<script>


</script>
