<div class="show-event-intensity">
  <% event.intensity.times do %>
    <%= image_tag("flame.svg", width: "20px", alt: "fire", class: "img-intensity") %>
  <% end %>
  <!-- <% (5 - event.intensity).times do %>
    <%= image_tag("flame.svg", width: "20px", alt: "fire", class: "img-intensity") %>
  <% end %> -->
</div>
