      <div class="show-event-intensity">
        <% event.intensity.times do %>
          <%= image_tag("flame_alt.svg", width: "20px", alt: "fire", class: "img-intensity") %>
        <% end %>
      </div>
