<%= form_tag(events_path, method: :get, class:"form-group", id:"search-form") do %>
  <div class="row row-no-padding">
    <div class="search-home-width">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="form-inline search-flex">
          <%= text_field_tag :address, params[:address], value: params[:address], placeholder: "Location", id:"event_address", class:"form-control search-stretch input-field-home" %>
          <%= date_field_tag :date_from, params[:date_from], value: params[:date_from], placeholder: Date.today.to_time.strftime('%b %d, %Y'), id:"date-from", id:"range_start", class: "form-control input-field search-stretch date-field-home datepicker" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-no-padding">
    <div class="search-home-width">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="form-inline search-flex-button">
          <%= submit_tag 'Search', name: nil, class:"btn search-button search-button-home", id:"submit" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
