<div class="row row-no-padding" id="description">
  <div class="description-container">
    <div class="col-xs-12 col-md-8 nopadding">
      <div class="show-event-description">
        <p><%= event.description %></p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 nopadding">
        <div id="map" data-markers="<%= markers.to_json %>" class="show-map"></div>
      </div>
  </div>
</div>
