<div class="col-xs-12 col-md-12 nopadding show-event-discussion">
  <div>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="show-discussion-container">
        <div class="post-form">
          <%= render 'posts/form_post', post: post, event: event %>
        </div>
        <div id="posts">
          <% event.posts.order(created_at: :desc).each do |post| %>
            <%= render 'posts/show', post: post, event: event, reply: @reply %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
