<% @sports.each do |sport| %>
  <% i = 0 %>
  <% sport.events.each do |event| %>
    <% if events.include? event %>
      <% i += 1 %>
      <% if i == 1 %>
        <div class="row row-no-padding">
          <div class="col-xs-3">
            <!-- fixed sport's card -->
            <%= render 'shared/sport_card', sport: sport %>
          </div>
          <div class="col-xs-9">
            <div class="events-row" id="sport-<%= sport.id %>">
              <!-- vertical scroll with events in the category -->
              <% sport.events.each do |event| %>
                <%= render 'shared/event_card', event: event, events: events %>
              <% end %>
              <% if sport.events.count > 2 %>
                <div class="arrow" id="arrow-<%= sport.id %>">
                  <i class="fa fa-arrow-right arrow-center" aria-hidden="true"></i>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
