<%= render 'shared/search_bar' %>

<!-- row for each sport -->
<div class="sport-rows">
  <% @sports.each do |sport| %>
    <div class="row">
      <div class="col-xs-3">
        <!-- fixed sport's card -->
        <%= render 'shared/sport_card', sport: sport %>
      </div>
      <div class="col-xs-9">
        <div class="events-row">
          <!-- vertical scroll with events in the category -->
          <% sport.events.each do |event| %>
            <%= render 'shared/event_card', event: event, events: @events %>

          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
