<% @title = @event.title  %>
<%= render 'header', event: @event, participation: @participation %>

<!-- tabs -->

<ul class="events-tabs" role="tablist">
 <li role="presentation" class="events-tab active"><a href="#description" data-toggle="tab">
   <h3>DESCRIPTION</h3>
 </a></li>
 <li role="presentation" class="events-tab"><a  href="#discussion" data-toggle="tab">
   <h3>DISCUSSION</h3>
 </a></li>
 <li role="presentation" class="events-tab"><a  href="#related" data-toggle="tab">
   <h3>RELATED EVENTS</h3>
 </a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="description" role="tabpanel">
    <%= render 'description', event: @event, markers: @markers %>
  </div>
  <div class="tab-pane" id="discussion" role="tabpanel">
    <%= render 'discussion', event: @event, reply: @reply, post: @post %>
  </div>
  <div class="tab-pane" id="related" role="tabpanel">
    <%= render 'related', event: @event, reply: @reply, post: @post %>
  </div>
</div>

<!-- related events -->
