<% @title = @event.title + '- Travelfit' %>
<% content_for :meta_description, @event.description %>
<% content_for :meta_image, cl_image_path(@event.photo) %>

<%= render 'header', event: @event, participation: @participation %>

<!-- tabs -->

<ul class="events-tabs" id="jumping" role="tablist">
 <li role="presentation" class="events-tab active"><a href="#description" data-toggle="tab">
   <h3 class="hidden-xs">DESCRIPTION</h3>
   <h5 class="hidden-sm hidden-md hidden-lg">DESCRIPTION</h5>
 </a></li>
 <li role="presentation" class="events-tab"><a  href="#discussion" data-toggle="tab">
   <h3 class="hidden-xs">DISCUSSION</h3>
   <h5 class="hidden-sm hidden-md hidden-lg">DISCUSSION</h5>
 </a></li>
 <li role="presentation" class="events-tab"><a  href="#related" data-toggle="tab">
   <h3 class="hidden-xs">RELATED EVENTS</h3>
   <h5 class="hidden-sm hidden-md hidden-lg">RELATED</h5>
 </a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="description" role="tabpanel">
    <%= render 'description', event: @event, markers: @markers %>
  </div>
  <div class="tab-pane" id="discussion" role="tabpanel">
    <%= render 'discussion', event: @event, reply: @reply, post: @post %>
  </div>
  <div class="tab-pane" id="related" role="tabpanel">
    <%= render 'related', event: @event, reply: @reply, post: @post %>
  </div>
</div>
