.show-event-info-container {
  height: 50vh;
  padding-right: 0px;
  padding-left: 0px;
  background-color: white;
  h3 {
    font-size: 22px;
    margin-top: 8px;
  }
}

.show-event-info {
  padding: 30px;
}

.show-event-photo {
  height: 50vh;
  padding: 0px;
  background-position: center;
  background-size: cover;
}

.show-event-creator {
  margin-top: 30px;
}

.show-event-intensity {
  margin-top: 10px;
}

.show-event-details {
  padding-top: 20px;
}

.show-desc-container {
  padding-left: 0px;
  padding-right: 0px;
}

.show-event-description {
  padding: 30px;
  background-color: #F5F5F5;
  height: 75%;
}

.btn-join {
  width: 100%;
  height: 25%;
  line-height: 48px;
  border-radius: 0;
  background-color: orange;
  border-color: orange;
}

.show-discussion-container {
  padding: 30px;
  background-color: white;
}
.show-event-discussion {
  padding: 0px;
}

.show-event-discussion-head {
  height: 60px;
  h2 {
    margin: 0;
    padding-top: 10px;
  }
}

.show-event-related {
  padding: 0px;
}

.show-event-related-head {
  background-color: white;
  height: 60px;
  h2 {
    margin: 0;
    padding-top: 10px;
  }
}

.show-post {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.show-post-head {
  display: flex;
  justify-content: space-between;
}

.show-post-userinfo {
  flex: 8 1 auto;
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.show-post-content {
  margin-top: 20px;
}

.show-reply {
  margin: 10px;
  margin-left: 50px;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 20px;
}

.show-reply-content {
  margin-top: 20px;
}

.show-event-map {
  padding: 0px;
  height: 100%;
}

.col-md-6 {
  padding: 0px;
}

.col-xs-12 {
  padding: 0px;
}

.desc-map-row {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
}
