
.show-event-info-container {
  height: 70vh;
  padding-right: 0px;
  padding-left: 0px;
  background-color: white;
  h3 {
    font-size: 22px;
    margin-top: 8px;
  }
}

.show-event-info {
  padding: 30px;
  color: #595959;
  // position: relative;
}

.show-event-photo {
  height: 70vh;
  padding: 0px;
  background-position: center;
  background-size: cover;
}

//event details

.show-event-creator {
  position: absolute;
  top: 50px;
  left: 50px;
}

.show-event-intensity {
  display: inline-block;
  padding-left: 5px;
}

.show-event-details {
  padding-top: 20px;
  position: absolute;
  top: 140px;
  left: 50px;
}

.event-icon {
  margin: 5px 10px;
}

.show-event-title {
  position: absolute;
  bottom: 5px;
  left: 50px;
}
.show-event-title h1 {
  padding-bottom: 30px;
  font-size: 40px;
}

.show-desc-container {
  padding-left: 0px;
  padding-right: 0px;
}

//event description

.show-event-description {
  padding: 50px;
  background-color: #fff;
  height: 100%;
}

.description-container {
  display: flex;
  align-items: stretch;
  position: relative;
}



//DISCUSSION
.show-discussion-container {
  padding: 30px 50px;
  background-color: white;
  position: relative;
}

.show-event-discussion {
  padding: 0px;
  margin: 0;
  background-color: white;
}

.show-event-discussion-head {
  height: 60px;
  h2 {
    margin: 0;
    padding-top: 10px;
  }
}

.show-event-related {
  padding: 50px 0 0 0;
  background-color: white;
}

.show-event-related-head {
  background-color: white;
  height: 60px;
  h2 {
    margin: 0;
    padding: 10px 0;
  }
}

.show-post {
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.show-post-head {
  display: flex;
  justify-content: space-between;
}

.show-post-userinfo {
  flex: 8 1 auto;
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.show-post-username {
  font-weight: 700;
}
.show-post-content {
  margin: 0px 80px 0 80px;
  border-top: 1px solid lightgrey;
  padding-top: 20px;
}

.show-reply {
  margin: 10px;
  margin-left: 50px;
  background-color: #F5F5F5;
  border-radius: 5px;
  padding: 20px;
}

.show-reply-content {
  margin-top: 20px;
}

.show-event-map {
  padding: 0px;
  height: 600px;
}

.show-map {
  position: sticky !important;
  height: 500px;
  right: 0;
  border: 1px solid white;
}


.desc-map-row {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
}

.visible {
  display: none;
}


.posted-at {
  font-weight: 400;
  margin: 0 0 0 0;
}

.userpost {
  margin-bottom: 20px;
}

.post-form {
  padding: 20px;
}
