<% @title= "Travelfit" %>

<%= video_tag "TravelFit_Video.mp4", autoplay: true, loop: true, mute: :mute, class: "video" %>

<div class="home-content">
  <div class="container">

  <%= render 'shared/search_bar_home' %>

  </div>
</div>


