.devise-form {
  margin-top: 200px;
}

.signin-links {
  color: #595959;
  text-decoration: none;
  font-family: 'Gravity Light', "sans-serif";
  transition: 0.2s all ease;
  padding: 5px 0;
  &:hover {
    color: $orange;
  }
}

.file-upload-btn {
  width: 100%;
  background-color: $green;
  color: white;
}

.upload-field {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 !important;
}

.input-name {
  background-color: transparent;
  border: none;
  color: white;
  box-shadow: none;
  margin: auto;
}
