.sport-rows {
}

.team-card {
  height: 500px;
  width: 375px;
  &:hover {
    opacity: 0;
  }
}

.team-card-sport {
  height: 500px;
  width: 375px;
  margin-right: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.row-no-padding {
  margin-left: 0 !important;
  margin-right: 0 !important;
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.row-event-margin {
  margin: 3px;
}

// sport specific
.card-sport{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px 0 0;
  height: 250px;
  position: relative;
  background-position: center;
  background-size: cover;
  h1{
    margin: 0;
    color: white;
    text-align: center;
    left: 0;
    z-index: 10;
    mix-blend-mode: screen;
    font-size: 32px;
    overflow: hidden;
  }
}

// overlays

.overlay-red {
  background-color: rgba(255,30,30,0.5);
  mix-blend-mode:  color;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  .card-event &:hover{
    opacity: 0;
  }
}

.overlay-green {
  background-color: rgba(32, 99, 32, 0.5);
  mix-blend-mode:  color;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  .card-event &:hover{
    opacity: 0;
  }
}
.overlay-blue {
  background-color: rgba(67, 61, 180, 0.5);
  mix-blend-mode:  color;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  .card-event &:hover{
    opacity: 0;
  }
}
.overlay-yellow {
  background-color: rgba(231, 184, 17, 0.4);
  mix-blend-mode:  color;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  .card-event &:hover{
    opacity: 0;
  }
}
.overlay-grey {
  background-color: rgba(0, 0, 0, 0.5);
  mix-blend-mode:  color;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  .card-event &:hover{
    opacity: 0;
  }
}
.overlay-mint {
  background-color: rgba(111, 52, 119, 0.5);
  mix-blend-mode:  color;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  .card-event &:hover{
    opacity: 0;
  }
}
// event specific

.events-row {
  position: relative;
  overflow-x: auto;
  // overflow-y: scroll;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  margin-left: 0;
  font-size: 0; // removes spaces between cards
  &::-webkit-scrollbar {
    display: none;
  }
}

.card-event {
  display: inline-block;
  margin: 0;
  height: 250px;
  width: 30vw;
  position: relative;
  color: white;
}

.card-related-event {
  display: inline-block;
  margin: 0;
  height: 200px;
  width: 100%;
  position: relative;
  color: white;
  padding: 0;
}

.card-event-title{
  position: absolute;
  left: 20px;
  bottom: 30px;
  font-size: 24px;
  width: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
    h2 {
    font-weight: 400;
    font-size: 26px;
  };
}


.card-related-event-title{
  position: absolute;
  left: 20px;
  bottom: 10px;
  font-size: 24px;
  width: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
    h2 {
    font-weight: 700;
    font-size: 24px;
  };
  }
.card-event-intensity{
  position: absolute;
  left: 16px;
  bottom: 85px;
  font-size: 16px;
}

.card-event-date{
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 16px;
  overflow-x: hidden;

}

.card-event-address{
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 16px;
  overflow-x: hidden;
}
