h1 {
  font-weight: 900;
  font-family: 'Lemon Milk bold', 'Helvetica', 'sans-serif';
}

h2 {
  font-weight: 700;
  font-family: 'Lemon Milk light', 'Helvetica', 'sans-serif';
}

h3 {
  font-weight: 400;
  font-family: 'Lemon Milk light', 'Helvetica', 'sans-serif';
  }


  h4, h5 {
    font-weight: 400;
    font-family: 'Lemon Milk light', 'Helvetica', 'sans-serif';
    }


p {
  font-family: 'Gravity Light', 'Helvetica', 'sans-serif';
  color: rgb(38, 38, 38);
  letter-spacing: 1.1;
}
