h1 {
  font-weight: 900;
  font-family: 'Lemon Milk bold';
}

h2 {
  font-weight: 700;
  font-family: 'Bebas Neue Regular';
  letter-spacing: 1.5px;
}

h3 {
  font-weight: 400;
  font-family: 'Bebas Neue Regular';
  letter-spacing: 1.5px;
  }

p {
  font-family: 'Gravity Light';
  color: rgb(38, 38, 38);
  letter-spacing: 1.1;
}
