.search-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0 0 0;
}

.search-stretch {
  flex: 1 0 auto;
}

.search-stretch-home {
  flex: 0 0 40%;
}

.search-stretch-date {
  flex: 0 0 60%;
}

.input-field {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 50px;
  color: rgb(20, 20, 20);
  margin-right: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  overflow: hidden;
}

.input-field::placeholder {
  color: rgba(1, 1, 1, 0.4);
}

.date-field {
  flex: 0 0 30%;
}
.input-field-home {
  background-color: #eee;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 50px;
  color: rgb(20, 20, 20);
  margin-right: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  overflow: hidden;
  flex: 0 0 50%;
}

.input-field-home::placeholder {
  color: rgba(1, 1, 1, 0.4);
}

.date-field-home {
  flex: 0 0 50%;
}

.search-home-width {
  width: 60%;
  margin: auto;
}

.search-flex-button {
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
// index page positioning

.search-index-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 100px;
  flex-wrap: wrap;
}

.search-fields {
  flex: 1 0 80%;
}

//home page 2nd line

.search-flex-2nd-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0 0 0;
}
