.search-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 80px 0 0 0;
}

.search-stretch {
  flex: 1 0 auto;
}

.input-field {
  // box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.3);
  // border-radius: 5px;
  height: 50px;
  color: rgb(20, 20, 20);
  margin-right: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  overflow: hidden;
}

.input-field::placeholder {
  color: rgba(1, 1, 1, 0.4);
}

.date-field {
  flex: 0 0 15%;
}



// index page positioning

.search-index-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 100px;
  flex-wrap: wrap;
}

.search-fields {
  flex: 1 0 80%;
}

//home page 2nd line

.search-flex-2nd-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 0 0 0;
}


